@font-face {
    font-family: 'Sushant';
    src: url('light/Sushant-LightItalic.woff2') format('woff2'),
        url('light/Sushant-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Sushant';
    src: url('light/Sushant-Light.woff2') format('woff2'),
        url('light/Sushant-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

